---
layout: default
---
<!-- Main -->

<section id="main">
    <header>
        <span class="avatar">
            <img src="{{ site.avatar | relative_url }}" alt="{{ site.name }} avatar" width="144" height="144"/>
        </span>
        <h1>{{ site.name }}</h1>
        <h2>{{ site.role }}</h2>
        <div>
            <span style="vertical-align: middle;">Now at </span>
            <span><img style="vertical-align: middle" src="{{ site.companies.current.logo | relative_url }}" alt="{{ site.companies.current.name }}" height="{{ site.companies.current.logo_height }}" width="auto"/></span>
        </div>                      
        <div>
            </br>
            <span style="vertical-align: middle; font-size:75%">Previously at</span></br>
            {% for company in site.companies.previous %}
            <span><img style="vertical-align: middle" src="{{ company.logo | relative_url }}" alt="{{ company.name }}" height="{{ company.logo_height }}" width="auto"/></span></br>
            {% endfor %}
        </div>                      
    </header>
    <br>
    <footer>
        <ul class="icons">
            {% for network in site.social_networks %}
            <li><a href="{{ network.url }}" target="_blank" class="icon brands {{ network.icon }}">{{ network.name }}</a></li>
            {% endfor %}
        </ul>
    </footer>
</section>